/*--------------------------------------------------------------------------------------------------------------*/
/* CSS Styles for the Zyskin (free version) DotNetNuke Containers by ThinkofDesign.com */
/*--------------------------------------------------------------------------------------------------------------*/
.ccommon{margin-top:10px;}
.ccommon .ctitle{width:100%;background:url(folderbg.gif) repeat-x;}
.ccommon .ctitle .head{display:block;padding:20px 8px 0 75px;}
.ccommon .ctitle div#folder{width:73px;height:61px;float:left;background:url(folder.gif) 0 0 no-repeat;}
.ccommon .ctitle div#folderright{width:2px;height:61px;float:right;background:url(folderright.gif) 100% 0 no-repeat;}
.ccommon .ctitle2{width:100%;background:#E9E9E9;border:1px #CCC solid;}
.ccommon .ctitle2 .whiteborder{height:35px;border:#FFF solid;border-width:0 1px 1px 0;}
.ccommon .ctitle2 .head{display:block;padding:10px 8px 0 10px;}
.ccommon .ccontent{padding:10px;border-left:1px #C9C9C9 solid;border-right:1px #E0E0E0 solid;}
.ccommon p{margin-top:0;}
.ccommon .actionbuttons{border-left:1px #C9C9C9 solid;border-right:1px #E0E0E0 solid;border-bottom:1px #C9C9C9 solid;
text-align:right;font-size:1px;line-height:1px;height:1px;padding-right:20px;}

.orangeborder{margin-bottom:5px;border:1px #FF9900 solid;}
.orangeborder .ctitle{height:40px;padding-left:10px;background:#EFEFEF;border:1px #FFF solid;}
.orangeborder .ctitle .head{}
.orangeborder .ccontent{padding:10px;}
.orangeborder p{margin-top:0;}
.orangeborder .actionbuttons{text-align:right;font-size:1px;line-height:1px;height:1px;padding-right:20px;}

.grayborder{margin-bottom:5px;border:1px #212e8a solid;}
.grayborder .ctitle{height:30px;padding-left:10px;background-color:#384aa0; color:#fff;border:0px #212e8a solid;}
.grayborder .ctitle .head{color: #fff;}
.grayborder .ccontent{padding:10px;}
.grayborder p{margin-top:0;}
.grayborder .actionbuttons{text-align:right;font-size:1px;line-height:1px;height:1px;padding-right:20px;}

.noborder{margin-bottom:5px;}
.noborder .ctitle{height:40px;padding-left:10px;background:#EFEFEF;}
.noborder .ctitle .head{}
.noborder .ccontent{padding:10px;}
.noborder p{margin-top:0;}
.noborder .actionbuttons{text-align:right;font-size:1px;line-height:1px;height:1px;padding-right:20px;}

.notitle{margin-top:10px;}
.notitle .ccontent{padding:10px;border:solid;border-width:1px 1px 0;border-color:#D4D4D4 #D4D4D4 #B5000D #B5000D;}
.notitle p{margin-top:0;}
.notitle .actionbuttons{border:solid;border-width:0 1px 1px 1px;border-color:#D4D4D4 #D4D4D4 #B5000D #B5000D;text-align:right;font-size:1px;line-height:1px;height:1px;padding-right:20px;}

.notitlered{margin-top:10px;background:#D00;}
.notitlered .ccontent{padding:10px;border:#B5000D solid;border-width:1px 1px 0 1px;}
.notitlered p{margin-top:0;}
.notitlered .normal,.notitlered .NormalTextBox,
.notitlered div,.notitlered span,.notitlered p,
.notitlered td,.notitlered th,.notitlered li,
.notitlered a{color:#FFF;}
.notitlered .actionbuttons{border:#B5000D solid;border-width:0 1px 1px 1px;text-align:right;font-size:1px;line-height:1px;height:1px;padding-right:20px;}

.actionbuttons img{margin:0 0 10px 0;}
